!Internal\*
Logs/
.history
.history\functions
!Internal/Jericho_CSharp/.gitattributes
!Internal/Jericho_CSharp/.gitignore
!Internal/Jericho_CSharp/Jericho.sln
!Internal/Jericho_CSharp/README.md
!Internal/Jericho_CSharp/Jericho/ConsoleDisplay.cs
!Internal/Jericho_CSharp/Jericho/Constants.cs
!Internal/Jericho_CSharp/Jericho/CoordinateData.cs
!Internal/Jericho_CSharp/Jericho/GameData.cs
!Internal/Jericho_CSharp/Jericho/Generic.cs
!Internal/Jericho_CSharp/Jericho/JerichoSharp.csproj
!Internal/Jericho_CSharp/Jericho/OutputState.cs
!Internal/Jericho_CSharp/Jericho/Program.cs
!Internal/Jericho_CSharp/Jericho/Vector3.cs
!Internal/Jericho_CSharp/Jericho/data/datagroups to be integrated into csv.ps1
!Internal/Jericho_CSharp/Jericho/data/history_global.csv
!Internal/Jericho_CSharp/Jericho/data/history_local.csv
!Internal/Jericho_CSharp/Jericho/data/Icon-Project-Jericho.ico
!Internal/Jericho_CSharp/Jericho/data/saved_locations.csv
!Internal/Jericho_CSharp/Jericho/data/Script_Project Jericho_Points of Interest in 3D Space.csv
!Internal/Jericho_CSharp/Jericho/data/Script_Project Jericho_Points of Interest on Planets and ObjectContainers.csv
!Internal/Jericho_CSharp/Jericho/data/Script_Project Jericho_Values for Object Containers.csv
!Internal/Jericho_CSharp/Jericho/data/Script_Project Jericho_Values for QuantumMarkers.csv
!Internal/Cpt_BA-jerichosharp-361af9f43da4/.gitattributes
!Internal/Cpt_BA-jerichosharp-361af9f43da4/.gitignore
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho.sln
!Internal/Cpt_BA-jerichosharp-361af9f43da4/README.md
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/ConsoleDisplay.cs
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/Constants.cs
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/CoordinateData.cs
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/GameData.cs
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/Generic.cs
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/JerichoSharp.csproj
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/OutputState.cs
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/Program.cs
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/Vector3.cs
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/data/datagroups to be integrated into csv.ps1
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/data/history_global.csv
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/data/history_local.csv
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/data/Icon-Project-Jericho.ico
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/data/saved_locations.csv
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/data/Script_Project Jericho_Points of Interest in 3D Space.csv
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/data/Script_Project Jericho_Points of Interest on Planets and ObjectContainers.csv
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/data/Script_Project Jericho_Values for Object Containers.csv
!Internal/Cpt_BA-jerichosharp-361af9f43da4/Jericho/data/Script_Project Jericho_Values for QuantumMarkers.csv
!Internal/!#Auditing Local Coordinates.rtf
!Internal/!#Dataming Explanation_Planets Data.txt
!Internal/!#Jericho_Calibration Results_3.15.xlsx
!Internal/!#ToDo.txt
!Internal/Auditing_Deviation and Time Rotationspeed and more.xlsx
!Internal/Day - Night Prediction Sheet.url
!Internal/drop location alpha.PNG
!Internal/DropLocation Plattform 2 - Versuch 3.PNG
!Internal/DropLocation Plattform 2.PNG
!Internal/Icon Project Jericho.png
!Internal/Icon Project Jericho.psd
!Internal/Orbital Marker, Planet Rotation and CIGs XYZ Coordinate System_V3.pdf
!Internal/Orison New Platform_Synced.PNG
!Internal/Orison New Platform.PNG
!Internal/Projekt Jericho (3D Navigation)_AND_Project_Verse_Mapper_AND_RineARM.zip
!Internal/Projekt Jericho (3D Navigation)_V7.1.4.zip
!Internal/Script_generic_Clear all cache folders_depends on last session if live or ptu_V1.ps1
!Internal/Script_generic_Clear all cache folders_depends on last session if live or ptu_V1.zip
!Internal/Script_Mapping_Show Current Course on Map_V3.0.4.ps1
!Internal/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.0.ps1
!Internal/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.3.ps1
!Internal/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.4.ps1
!Internal/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.6.ps1
!Internal/!Scripts/AntiLogoffScript_V2.exe.alt
!Internal/!Scripts/AntiLogoffScript_V3.ahk
!Internal/!Scripts/AntiLogoffScript_V3.exe
!Internal/!Scripts/AntiLogoffScript.ahk
!Internal/!Scripts/AntiLogoffScript.exe
!Internal/!Scripts/AntiLogoffScript.zip
!Internal/!Scripts/antiLogoffV3.zip
!Internal/!Scripts/autorun.ahk
!Internal/!Scripts/cross.png
!Internal/!Scripts/cross75.png
!Internal/!Scripts/cross150.png
!Internal/!Scripts/cross300.psd
!Internal/!Scripts/Crosshair Overlay.ahk
!Internal/!Scripts/Crosshair Overlay.ahk - Verknüpfung.lnk
!Internal/!Scripts/Crosshair Overlay.exe
!Internal/!Scripts/Crosshair Overlay.exe - Verknüpfung.lnk
!Internal/!Scripts/play with unix time and epoch from 01.01.1970 in ms ns and cs.ps1
!Internal/!Scripts/PreCheck_VT100 Emulation.ps1
!Internal/!Scripts/Script_AntiLogoffScript_V2.exe
!Internal/!Scripts/Script_Determine Rotationspeed and Distance Travelled at an orbital marker.ps1
!Internal/!Scripts/Script_RunAHKCode from Powershell_V2.0.0.ps1
!Internal/!Scripts/Script_RunAHKCode from Powershell.ps1
!Internal/!Scripts/Showlocation_AltGR as Hotkey.ahk
!Internal/!Scripts/Showlocation_AltGR as Hotkey.exe
!Internal/!Scripts/Showlocation.ahk
!Internal/!Scripts/Showlocation.exe
!Internal/!Scripts/test.ps1
!Internal/!Scripts/Use JSON to collect values.ps1
!Internal/!old/alte notizen vom planet winkel projekt.rtf
!Internal/!old/AntiLogoffScript_V2.ahk
!Internal/!old/AntiLogoffScript_V3.zip
!Internal/!old/debug_correct.txt
!Internal/!old/debug_wrong_new.txt
!Internal/!old/debug_wrongg.txt
!Internal/!old/Manual_Project Jericho_Englisch_V5.pdf
!Internal/!old/Navigation_CIG Coordinates System_V3.ps1
!Internal/!old/Navigation_CIG Coordinates System_V4.ps1
!Internal/!old/Navigation_CIG Coordinates System_V5.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.1.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.2.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.3.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.4.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.5.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.6.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.6.ps1.psbuild
!Internal/!old/Navigation_CIG Coordinates System_V6.0.7.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.8.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.9.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.1.0.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.ps1
!Internal/!old/Orbital Marker, Planet Rotation and CIGs XYZ Coordinate System_V2_Layers.pdf
!Internal/!old/Orbital Marker, Planet Rotation and CIGs XYZ Coordinate System-V2.pdf
!Internal/!old/Projekt Jericho (3D Navigation)_V7.0.6.zip
!Internal/!old/Projekt Jericho (3D Navigation)_V7.0.9.zip.old
!Internal/!old/Projekt Jericho (3D Navigation)_V7.zip
!Internal/!old/ReDesign 1.0.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V6.1.0.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V6.1.1.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V6.1.2.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V6.1.3.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.0.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.1.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.2.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.4.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.5.ps1.alt
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.6.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.7.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.0.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.1.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.2.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.3.ps1
!Internal/!old/Script_Project Jericho_Values for Object Containers - Kopie.csv
!Internal/!old/Script_Project Jericho_Values for Object Containers_3.13.csv
!Internal/!old/Script_Project Jericho_Values for Object Containers_uncalibrated default.zip
!Internal/!old/Script_Project_Jericho_3D_Navigation_in_Space_and_on_Planets_V6.1.0_bigcheese.ps1
!Internal/!old/test.au3
!Internal/!old/test2.au3
!Internal/!old/WindowTop.exe
!Internal/!old/WindowTop.Settings
!Internal/EXE Project/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.2_EXE.exe
!Internal/EXE Project/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.2_EXE.ps1
!Internal/testCode/import numpy as np.py
!Internal/testCode/Script_Mapping_Show Current Course on Map_V1.ps1
!Internal/testCode/TEST_CreateTextPicture.ps1
!Internal/testCode/TEST_LiveUpdateForm.ps1
!Internal/!old/alte notizen vom planet winkel projekt.rtf
!Internal/!old/AntiLogoffScript_V2.ahk
!Internal/!old/AntiLogoffScript_V3.zip
!Internal/!old/debug_correct.txt
!Internal/!old/debug_wrong_new.txt
!Internal/!old/debug_wrongg.txt
!Internal/!old/Manual_Project Jericho_Englisch_V5.pdf
!Internal/!old/Navigation_CIG Coordinates System_V3.ps1
!Internal/!old/Navigation_CIG Coordinates System_V4.ps1
!Internal/!old/Navigation_CIG Coordinates System_V5.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.1.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.2.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.3.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.4.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.5.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.6.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.6.ps1.psbuild
!Internal/!old/Navigation_CIG Coordinates System_V6.0.7.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.8.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.0.9.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.1.0.ps1
!Internal/!old/Navigation_CIG Coordinates System_V6.ps1
!Internal/!old/Orbital Marker, Planet Rotation and CIGs XYZ Coordinate System_V2_Layers.pdf
!Internal/!old/Orbital Marker, Planet Rotation and CIGs XYZ Coordinate System-V2.pdf
!Internal/!old/Projekt Jericho (3D Navigation)_V7.0.6.zip
!Internal/!old/Projekt Jericho (3D Navigation)_V7.0.9.zip.old
!Internal/!old/Projekt Jericho (3D Navigation)_V7.zip
!Internal/!old/ReDesign 1.0.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V6.1.0.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V6.1.1.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V6.1.2.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V6.1.3.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.0.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.1.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.2.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.4.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.5.ps1.alt
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.6.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.0.7.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.0.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.1.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.2.ps1
!Internal/!old/Script_Project Jericho_3D Navigation in Space and on Planets_V7.1.3.ps1
!Internal/!old/Script_Project Jericho_Values for Object Containers - Kopie.csv
!Internal/!old/Script_Project Jericho_Values for Object Containers_3.13.csv
!Internal/!old/Script_Project Jericho_Values for Object Containers_uncalibrated default.zip
!Internal/!old/Script_Project_Jericho_3D_Navigation_in_Space_and_on_Planets_V6.1.0_bigcheese.ps1
!Internal/!old/test.au3
!Internal/!old/test2.au3
!Internal/!old/WindowTop.exe
!Internal/!old/WindowTop.Settings
